header img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(128, 0, 64);
    margin: 5px;
}
header {
    width: 1000;
    height: 100;
    color: black;
    background-color:  rgb(158, 144, 186);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2%;
    border: 5px solid rgb(128, 0, 64);
    margin: 10px;
}

h1 {
    color: rgb(128, 0, 64)
}

h2 {
    color:rgb(88, 8, 78)
}