body {
    color: black;
    background-color:rgb(190, 150, 173);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color: rgb(249, 199, 234);
    border-radius: 20%;
    border: 5px solid rgb(128, 0, 64);
    margin: 10px;
    
}
a { color:rgb(88, 8, 78);
    text-decoration: none;
}


.center {
    text-align: center;
    justify-content: space-between;
}

.container {
    padding: 20px 50px;
    min-width: 280px;
    max-width: 1200px;
    margin: auto;
 
  }


nav a:hover {
    color: blue

}

